#loadingTitle{
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.fixed-on-top{
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 100000;
}

.center-text{
  text-align: center;
}

.space-before{
	margin-top: 1.5em;
}